@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(0% 0 0);
  --color-primary: #2AAE5C;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(87% 0.169 91.605);
  --color-secondary-content: oklch(27% 0.077 45.635);
  --color-accent: oklch(80% 0.114 19.571);
  --color-accent-content: oklch(25% 0.092 26.042);
  --color-neutral: #2AAE5C;
  --color-neutral-content: oklch(98% 0.018 155.826);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(21% 0.006 285.885);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary-green: #32a85e;
  --color-accent-green: #eaf7ef;
  --color-primary-gold: #f4c952;
  --color-accent-gold: #fefaee;
  --color-light-green: #b7e3c7;
}
